<mat-card>
  <mat-card-content>
    <app-timeline [tasks]="sortedTasks"></app-timeline>

    <div *ngIf="!isAuthenticated()" class="auth-buttons">
      <button mat-raised-button color="primary" (click)="login()">Login</button>
    </div>

    <div *ngIf="isAuthenticated()" class="auth-buttons">
      <button mat-raised-button color="primary" (click)="getTasks()">
        Get Tasks
      </button>
      <button mat-raised-button color="warn" (click)="logout()">Logout</button>
    </div>

    <mat-list *ngIf="sortedTasks.length > 0">
      <mat-list-item *ngFor="let task of sortedTasks">
        <mat-icon
          matListItemIcon
          [ngClass]="{ overdue: compareDate(task.dueDate) }"
        >
          {{
            task.dueDate
              ? compareDate(task.dueDate)
                ? "warning"
                : "check_circle"
              : "schedule"
          }}
        </mat-icon>
        <span matListItemTitle>{{ task.title }}</span>
        <span matListItemLine
          >Due: {{ task.dueDate | date : "mediumDate" || "No due date" }}</span
        >
      </mat-list-item>
    </mat-list>

    <p *ngIf="sortedTasks.length === 0 && isAuthenticated()" class="no-tasks">
      No tasks available. Click "Get Tasks" to fetch your tasks.
    </p>
  </mat-card-content>
</mat-card>
